/* FOR NAVBAR MENU CSS RULE */
.option7 {
  border-left: 5px solid #8f2025;
  background-color: #dadada;
  color: #8f2025;
  cursor: pointer;
}

.option7:hover {
  background-color: #dadada;
}

.school-year {
  text-align: center;
}