/* Responsive CSS Here */
@media screen and (max-width: 950px) {
  /* SIDE PANEL */
  .nav-img {
    height: 25px;
  }
  .nav-option {
    gap: 30px;
  }
  .nav-option h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 850px) {
  /* HEADER */
  .logosec {
    margin-right: 2rem;
  }
  .school {
    display: block;
  }

  /* SIDE PANEL */
  .nav-img {
    height: 30px;
  }

  .nav-option {
    gap: 30px;
    margin-bottom: 1rem;
  }
  .nav-option h3 {
    font-size: 20px;
  }
  .navcontainer {
    width: 100vw;
    position: absolute;
    transition: all 0.6s ease-in-out;
    top: 0;
    left: -100vw;
  }
  .nav {
    width: 100%;
    position: absolute;
  }
  .navclose {
    left: 00px;
  }
  .nav-upper-options {
    display: inline-block;
    align-items: left;
  }

  /* SEARCH INPUT */
  .main {
    padding: 20px 10px 10px 10px;
  }
  .search-box {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  /* HEADER */
  .logosec {
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
  }
  .logo {
    font-size: 20px;
  }
  .school {
    display: none;
  }
  .menuicn {
    height: 25px;
  }

  /* SIDE PANEL */
  .nav-img {
    height: 25px;
  }
  .nav-option {
    gap: 25px;
  }
  .nav-option h3 {
    font-size: 12px;
  }
  .nav-upper-options {
    gap: 15px;
    display: inline-block;
    align-items: left;
  }
  /* SEARCH INPUT */
  .main {
    padding: 20px 10px 10px 10px;
  }
}

@media screen and (max-width: 400px) {
  /* SIDE PANEL */
  .nav-upper-options {
    display: inline-block;
    align-items: left;
  }
}

@media screen and (max-width: 320px) {
  /* SIDE PANEL PART */
  .nav-upper-options {
    display: inline-block;
    align-items: left;
  }
}
